name: Deploy
on:
  push:
    branches:
      - main
  pull_request:
    # Sequence of patterns matched against refs/heads
    branches:
      - main
jobs:
  tests:
    runs-on: ubuntu-latest
    name: Build & Deploy Assets
    steps:
      - name: SSH Deploy to Cpanel
        uses: actions/checkout@v2

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/deck.equipment.ng
          echo "${{ secrets.SSH_PUBLIC_KEY }}" > ~/.ssh/deck.equipment.ng.pub
          chmod 600 ~/.ssh/deck.equipment.ng
          chmod 600 ~/.ssh/deck.equipment.ng.pub
          ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

      - name: Deploy
        run: |
          ssh lyrivers@${{ secrets.SERVER_IP }} 'bash -s' < ${{ github.workspace }}/.github/workflows/deploy.sh
